name: Update DWD Screenshot

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: 

jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright
          # Dieser Befehl ist entscheidend:
          python -m playwright install chromium --with-deps

      - name: Run Screenshot Script
        run: python screenshot.py

      - name: Commit and Push
        run: |
          git config --global user.name "DWD-Bot"
          git config --global user.email "bot@github.com"
          git add warnung_buttlar.png
          git commit -m "Update Screenshot $(date)" || exit 0
          git push
